APP_NAME="Slim API Starter"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=slim_api_starter
DB_USERNAME=root
DB_PASSWORD=

LOG_LEVEL=debug